@import "tailwindcss/base";

/* Write your own custom base styles here */

/* Start purging... */
@import "tailwindcss/components";
/* Stop purging. */

/* Start purging... */
@import "tailwindcss/utilities";
/* Stop purging. */

/* Your own custom utilities */
